*.pas linguist-detectable=false
*.sql linguist-detectable=true
*.pbinb linguist-detectable=true
*.drawio linguist-detectable=true
*.dio linguist-detectable=true
*.drawio.svg linguist-detectable=true
*.drawio.png linguist-detectable=true
